$lightBg: #cfcfd1;
$lightBgSec: #ededed;
$lightColor: #000100;
$lightColorSec: #6d6d6f;

$darkBg: #262626;
$darkBgSec: #3a3a3a;
$darkColor: #ffffff;
$darkColorSec: #d7d7d7;

$primary: #c1e8d5;

$sunColor: #f39c12;
$moonColor: #f1c40f;
