@font-face {
  font-family: faFont;
  src: url(../Assets/Fonts/Samim.ttf);
}

@font-face {
  font-family: faTitle;
  src: url(../Assets/Fonts/Tanha.ttf);
}

@font-face {
  font-family: enFont;
  src: url(../Assets/Fonts/Imprima.ttf);
}

@font-face {
  font-family: logo;
  src: url(../Assets/Fonts/Relate.ttf);
}
