.t-message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  @include flex(row, center, center);
  font-size: 1.6rem;
  font-weight: 100;

  svg {
    margin: 0 0.8rem 0.5rem 0.8rem;
    font-size: 2.2rem;
    color: #f94144;
  }
}

.card-wrapper {
  width: 1366px;
  max-width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-gap: 1.4rem;
  margin: 2rem 0;
}

.trending-title {
  width: 1366px;
  max-width: 90%;
  margin: 5rem 0 0 0;
  text-align: center;
}

.trending-title h1 {
  font-family: faTitle;
  font-size: 1.6rem;
  border-bottom: 2px solid;
  padding: 0 0 0.5rem 0;
}

.card {
  position: relative;
  padding: 0.4rem;
  margin: 0 0.6rem;
  border-radius: 1rem;
  cursor: pointer;
  @include flex(column, center, center);
}

.img-wrapper {
  padding: 1rem;
}

.card:hover .card-img {
  filter: sepia(50%);
  transition: filter 0.3s linear;
}

.card-img {
  border-radius: 1rem;
  transition: filter 0.3s linear;
}

.img-wrapper,
.card-img,
.card-year-type-wrapper,
.card-name-wrapper {
  width: 100%;
}

.card-name-wrapper {
  padding: 0.6rem;
  @include flex(column, center, center);
}

.card-year-type-wrapper {
  padding: 0.6rem;
  @include flex(row, space-between, center);
}

.card-name {
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
}

.card-year,
.card-type {
  font-size: 1.4rem;
  font-weight: 600;
}

.card-rate {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  @include flex(row, center, center);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

.pagination-wrapper {
  width: 1366px;
  max-width: 95%;
  @include flex(row, center, center);
  flex-wrap: wrap;
  margin-bottom: 8rem;
}

.pagination-wrapper li {
  cursor: pointer;
}

.paginate-p,
.paginate-n {
  display: none !important;
}

.genre-wrapper {
  width: 1366px;
  max-width: 95%;
  font-size: 1.4rem;
  direction: rtl;
  margin-top: 5rem;
}

.search-box-wrapper {
  margin-top: 5rem;
  width: 1366px;
  max-width: 95%;
}

.search-inp {
  width: 100%;
  font-family: enFont;
  font-size: 1.6rem;
  font-weight: 800;
  padding: 0.4rem 0.8rem;
  border: 2px solid transparent;
  border-radius: 0.4rem;
  transition: border 0.3s linear;
}

.search-inp::placeholder {
  font-family: faTitle;
  direction: rtl;
  text-align: right;
  font-weight: 600;
}
