@media (min-width: 531px) {
  .card {
    margin: 0;
    justify-content: space-between;
  }

  .img-wrapper {
    padding: 0.4rem;
  }

  .card-name {
    font-size: 1.4rem;
  }

  .card-year,
  .card-type {
    font-size: 1rem;
    font-weight: 600;
  }

  .card-rate {
    top: 0.2rem;
    right: 0.2rem;
    font-size: 1rem;
  }

  .pagination-wrapper li {
    font-size: 1.6rem;
    padding: 0.4rem;
    margin: 0.5rem 0.3rem;
    border-radius: 0.3rem;
    font-weight: 600;
    @include flex(row, center, center);
  }
}

@media (min-width: 1072px) {
  .card-name-wrapper {
    padding: 0 0.6rem;
  }
}

@media (max-width: 531px) {
  .pagination-wrapper li {
    font-size: 1.4rem;
    padding: 0.2rem;
    margin: 0.5rem 0.2rem;
    border-radius: 0.3rem;
    font-weight: 700;
    @include flex(row, center, center);
  }
}
