@media (min-width: 531px) {
  .trending-card {
    margin: 0;
    justify-content: space-between;
  }

  .t-img-wrapper {
    padding: 0.4rem;
  }

  .t-name {
    font-size: 1.4rem;
  }

  .t-year,
  .t-type {
    font-size: 1rem;
    font-weight: 600;
  }

  .t-rate {
    top: 0.2rem;
    right: 0.2rem;
    font-size: 1rem;
  }

  .pagination-wrapper li {
    font-size: 1.6rem;
    padding: 0.4rem;
    margin: 0.5rem 0.25rem;
    border-radius: 0.3rem;
    font-weight: 600;
    @include flex(row, center, center);
  }

  .pagination-prev-btn,
  .pagination-next-btn {
    @include flex(row, center, center);
    padding: 0.1rem;
  }
}

@media (min-width: 1072px) {
  .t-name-wrapper {
    padding: 0 0.6rem;
  }
}
