.t-message {
  @include flex(row, space-between, center);
  font-size: 2rem;
  margin-top: 10rem;
}

.Trending-wrapper {
  width: 1366px;
  max-width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

.trending-title {
  width: 1366px;
  max-width: 90%;
  margin: 1rem 0;
  text-align: center;
}

.trending-title h1 {
  font-family: faTitle;
  font-size: 1.6rem;
  border-bottom: 2px solid;
  padding: 0 0 0.5rem 0;
}
