@import "./Fonts";
@import "./FlexBox";
@import "./Colors";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1.2rem;
}

body {
  font-family: enFont, faFont;
}

.main-head {
  width: 100%;
  @include flex(row, center, center);
  padding: 0.5rem 0;
}

.head-navbar {
  width: 1366px;
  max-width: 95%;
  @include flex(row, space-between, center);
}

.head-logo {
  font-family: logo;
  font-size: 1.8rem;
  user-select: none;
}

.theme-toggler {
  opacity: 0;
  position: absolute;
}

.theme-toggler-wrapper {
  position: relative;
  width: 75px;
  height: 35px;
  background: $lightColor;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
  @include flex(row, space-between, center);
}

.sun {
  color: $sunColor;
  font-size: 1.3rem;
}

.moon {
  color: $moonColor;
  font-size: 1.3rem;
}

.inner-ball {
  position: absolute;
  left: 2px;
  width: 32px;
  height: 31px;
  background: $lightBgSec;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.theme-toggler:checked + .theme-toggler-wrapper {
  background: $darkColor;
}

.theme-toggler:checked + .theme-toggler-wrapper .inner-ball {
  transform: translateX(35px);
  transition: all 0.5s ease;
  left: auto;
  background: $darkBgSec;
}

.navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  @include flex(row, center, center);
}

.navbar-nav {
  width: 500px;
  max-width: 95%;
  padding: 0.4rem 0.6rem;
  @include flex(row, space-between, center);
}

.nav-item .nav-btn {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.nav-link {
  font-family: faFont;
  font-size: 0.9rem;
}

.nav-icon {
  font-size: 2rem;
}
